# Telegram Bot
BOT_TOKEN=your_telegram_bot_token

# Replicate API
REPLICATE_API_KEY=your_replicate_api_key

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/database

# YooKassa
YOOKASSA_SHOP_ID=1187406
YOOKASSA_SECRET_KEY=live_cksphJ5rim4Aq2Y8Q37nRkBY2gTA9LStrhWVsc2cozg
